<center>
<li>
    <a href="/"><i class="ion-home" style="margin-right: 5px;"></i>Home </a> - &nbsp;
    <a href="/about" ><i class="ion-information-circled" style="margin-right: 5px;"></i>About </a> - &nbsp;
    <a href="/team"><i class="ion-person-stalker" style="margin-right: 5px;"></i>Team</a>
</li>

<li><a href="/submit" style="text-decoration:underline">Have content? Submit it here!</a></li>
        </center>

<li class="side-header">Categories</li>
<div class="sidebar-categories">
<li style="margin-top: 0px;"><a href="/tag/science"><i class="ion-erlenmeyer-flask" style="font-size: 20px;"></i>&nbsp;Science </a></li>
<li><a href="/tag/love"><i class="ion-heart" style="font-size: 20px;"></i>&nbsp;Love </a></li>
    <li><a href="/tag/motivational"><i class="ion-ios-paw" style="font-size: 20px;"></i>&nbsp;Animals </a></li>
<li><a href="/tag/motivational"><i class="ion-ribbon-b" style="font-size: 20px;"></i>&nbsp;Motivational </a></li>
</div>
<li></li>
<li>
<center>
    <a href="https://twitter.com/mxsawyer" target="_blank"><i class="ion-social-twitter"></i>&nbsp;&nbsp;</a>
    <a href="https://mxcleod.com/" target="_blank"><i class="ion-social-tumblr"></i>&nbsp;&nbsp;</a>
    <a href="https://github.com/macleodsawyer" target="_blank"><i class="ion-social-github"></i></a>
    </center>

</li>

